.container{
    display: flex;
    flex-direction: row;
}

 .buttons{
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 40px;

    
}
.menu-icon{
    margin-top: 34px;
}

.icons{
    opacity: 0.6;
}


// .buttons{
//     opacity: 0.6;
// }


