<!-- Parent Div -->
<div class="container">
    <!-- Div For Fundoo Tag And Create Account -->
    <div>
        <p>
            <span style="color:blue">F</span>
            <span style="color:red">u</span>
            <span style="color:orange">n</span>
            <span style="color:blue">d</span>
            <span style="color:green">o</span>
            <span style="color:red">o</span>
        </p>


        <p class="line1">Forget Password?</p>
        <p class="line2">Use Your Fundoo Account</p>
    </div>

    <form>

        <div>
            <mat-form-field appearance="outline" class="email">
                <mat-label>Email or phone </mat-label>
                <input matInput placeholder="email">
                <mat-hint>Link will be sent to above email to reset password</mat-hint>
            </mat-form-field>
        </div>

        <div>
            <button mat-button class="create-account-btn" routerLink="/register">Create Account</button>
            <button mat-raised-button class="next-btn">Next</button>
        </div>
    </form>
</div>
