.bell-icon{
    margin:150px 100px 0px 550px;
    height: 110px;
    opacity: 0.1;
}
.para1{
    font-style: italic;
    margin-left: 450px;
    font-size: 20px;
}
.heading{
    font-size: 1.375rem;
    margin: 20px 0px 0 510px;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    color: #80868b;
}