<div class="note-container" *ngFor="let note of allNotes;">
    <mat-card class="card" ng-class="" [style.background-color]="note.color">
        <div (click)="openDialog(note)" class="mainBlock" [style.background-color]="note.color">
            <div [style.background-color]="colorData">
                <strong class="title">{{note.title}}</strong>
                

                <!-- <button class="buttons" matTooltip="pin Note">
                    <img class="icon" src="assets/pin.svg" alt="">
                </button> -->
                <app-pin class="pin"></app-pin>

            </div>
            <div id="description" #description contenteditable="false" aria-multiline="true" role="textbox"
                class="font n1" dir="ltr" [style.background-color]="note.color">{{note.description}}</div>
            <!-- [hidden]="!iconVisible" -->

        </div>



        <div [style.background-color]="note.color">
            <!-- <app-icons [noteId]="note.id"></app-icons> -->
            <app-icons class="icon" [style.background-color]="note.color" class="icon"
                (transColor)="receiveToUpdate($event)" [noteId]="note.id"></app-icons>
        </div>

        <!-- <div>
            <app-take-notes (messageEvent)="Refresh($event)"></app-take-notes>
            <app-get-notes [notes]="allNotes" (event)="Refresh($event)" fxLayout="row wrap" fxFlex.xs=100
            fxLayout.xs="column wrap" fxLayoutGap="20px"></app-get-notes>
        </div> -->
    </mat-card>
</div>