<div class="note-container" *ngFor="let note of allNotes;">
    <mat-card class="card" ng-class="" >
        <div (click)="openDialog(note)" class="mainBlock">
            <div>
                <strong>{{note.title}}</strong>
            </div>
            <div id="description" #description contenteditable="false" aria-multiline="true" role="textbox"
                class="font n1" dir="ltr">{{note.description}}</div>
            <!-- [hidden]="!iconVisible" -->

        </div>

        <div class="icon">
            <app-icons [noteId]="note.id"></app-icons>
        </div>

        <!-- <div>
            <app-take-note (messageEvent)="autoRefresh($event)"></app-take-note>
            <app-get-all-notes class="note-container" [notes]="allnotes" (messageEvent)="autoRefresh($event)">
            </app-get-all-notes>
        </div> -->
    </mat-card>
</div>