<!-- Parent Div -->
<div class="container">
    <!-- Div For Fundoo Tag And Create Account -->
    <div>
        <p>
            <span style="color:blue">F</span>
            <span style="color:red">u</span>
            <span style="color:orange">n</span>
            <span style="color:blue">d</span>
            <span style="color:green">o</span>
            <span style="color:red">o</span>
        </p>


        <p class="line1">Reset Password</p>
     
    </div>

    <form>

        <div>
            <mat-form-field appearance="outline" class="new-password">
                <mat-label>New Password </mat-label>
                <input matInput placeholder="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="confirm-password">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="password">
            </mat-form-field>
        </div>

        <div>
            <mat-checkbox class="example-margin">Show Password</mat-checkbox>
        </div>

        <div>
            <button mat-button class="create-account-btn" routerLink="/register">Create Account</button>
            <button mat-raised-button class="next-btn">Next</button>
        </div>
    </form>
</div>

