.container{
    border:1px solid gray ;
    margin: 6% auto;
    padding: 4% 2%;
    border-radius: 8px;
}
.line2{
   
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
.logo{
    margin-left: 50px;
    height: 50%;
}
.img-caption{
    font-weight: lighter;
    font-size: 18px;
    margin-left: 50px;
}
.button1{
    color: #1a73e8;
}
.button2{
    background-color: #1a73e8;
    color: white;
}
@media only screen and (max-width: 599px) {
    .container{
        border:none;
        padding: 4%;
    }

    .button-section{
        margin-top: 10%;
    }
}  
// }
// // Fundoo Title
// p{
//     font-weight:inherit;
//     font-size: 25px;
//     padding: 0% 0% 0% 35%;
//     font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
// }
// .line1{
//     font-size: 18px;
//     padding: 2% 0% 0% 28%;
    
// }
// .new-password{
//     width: 350px;
//     color: #2d2f35;
//     font-size: 16px;
//     padding-bottom: 0;
//     padding-top: 10px;
// }
// .confirm-password{
//     width: 350px;
//     color: #2d2f35;
//     font-size: 16px;
//     padding-bottom: 0;
// }

// .example-margin{
//     padding: 2% 0% 6% 0%;
// }



// .create-account-btn{
//     margin-top: 30%;
//     color: purple;
// }
// .next-btn{
   
//     margin-left: 40%;
//     background-color: #1a73e8;
//     color: white;
// }