<div class="container" fxFlex=30 fxFlex.xs=100>

    <div class="container-form" fxFlex.xs=100 fxFlex.sm=80>

        <div>
            <p class="fundoo" style="font-size: 25px; padding-left: 120px; ">
                <span style="color:blue">F</span>
                <span style="color:red">u</span>
                <span style="color:orange">n</span>
                <span style="color:blue">d</span>
                <span style="color:green">o</span>
                <span style="color:red">o</span>
            </p>

            <h1 class="line2" style="font-size: 20px; padding-left: 100px;">Reset Password</h1>
        </div>

        <div id="form-container" class="form" style="padding-top: 10%;">
            <form [formGroup]="resetpassword" (ngSubmit)="onSubmit()">
                <div class="password-confirm"  fxLayout.xs="column">

                    <!-- Div For PassWord And Confirm  -->
                    <mat-form-field appearance="outline" class="password"  fxLayout="column wrap">
                        <mat-label>New Password</mat-label>
                        <input matInput placeholder="password" formControlName="password">
                        <mat-hint *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <mat-hint *ngIf="f.password.errors.required">!Password is required</mat-hint>
                            <mat-hint *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                            </mat-hint>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="confirm"  fxLayout="column wrap">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="confirmPassword" formControlName="confirmPassword">
                        <mat-hint *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <mat-hint *ngIf="f.confirmPassword.errors.required">!Confirm Password is required
                            </mat-hint>
                            <mat-hint *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-hint>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div>
                    <mat-checkbox class="example-margin" style="padding-top: 2%;">Show Password</mat-checkbox>
                </div>

                <div class="button-section" fxLayoutAlign="space-between" style="padding-top: 15%;">
                    <button mat-button class="button1" >Create Account</button>
                    <button mat-raised-button class="button2">Next</button>
                </div>
            </form>
        </div>